REDRAVEN_BASE_URL=https://api.redraven.fireraven.ai

# Your RedRaven API key found in Organization Settings in https://app.redraven.fireraven.ai
REDRAVEN_API_KEY=rr_...

# Your RedRaven Organization ID found in Organization Settings in https://app.redraven.fireraven.ai
REDRAVEN_ORGANIZATION_ID=<uuid of your RedRaven organization>

# Optional: set this (or enter it when prompted) -> found in Project Settings in https://app.redraven.fireraven.ai
REDRAVEN_PROJECT_ID=<uuid of a project in Redraven>

# Optional: set this (or enter it when prompted)
REDRAVEN_TEST_ID=<uuid of an existing test in Redraven>

# Optional, only if you want to run this demo with a basic OpenAI LLM
OPENAI_API_KEY=sk-...

